# Created by .ignore support plugin (hsz.mobi)

# Intellij ignore commits.
.idea
*.iml
out

# Liftover Script dependencies.
liftOver
*.chain
.DS_Store
resources/.DS_Store
shell/.DS_Store
src/__pycache__/
